<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentScene</key>
	<string>1</string>
	<key>displayedAttributes</key>
	<array>
		<string>kPropertiesMenuItemIdentifierOpacity</string>
		<string>kPropertiesMenuItemIdentifierAnimated</string>
		<string>kPropertiesMenuItemIdentifierPosition</string>
	</array>
	<key>documentVersion</key>
	<string>158</string>
	<key>documentationVerticalSplitViewPosition</key>
	<real>280</real>
	<key>drawSceneBackgrounds</key>
	<true/>
	<key>guidesAreLocked</key>
	<false/>
	<key>guidesAreVisible</key>
	<true/>
	<key>lastCheckDate</key>
	<date>2013-03-06T19:41:10Z</date>
	<key>layout</key>
	<dict>
		<key>keyframeTimelineHeight</key>
		<real>124</real>
		<key>mainWindowFrame</key>
		<string>63 203 2078 1195 0 0 2560 1418 </string>
		<key>openTabs</key>
		<array/>
		<key>selectedTabIndex</key>
		<integer>0</integer>
		<key>showSceneTabView</key>
		<false/>
		<key>splitHeight</key>
		<real>675</real>
		<key>splitViewIsVertical</key>
		<false/>
		<key>splitWidth</key>
		<real>640</real>
	</dict>
	<key>minimumSupportedBrowserVersions</key>
	<dict>
		<key>Android</key>
		<string>2.3</string>
		<key>Chrome</key>
		<string>Latest</string>
		<key>Firefox</key>
		<string>3.6</string>
		<key>IE</key>
		<string>6</string>
		<key>Mobile Safari</key>
		<string>4.3.1</string>
		<key>Opera</key>
		<string>11.10</string>
		<key>Safari</key>
		<string>5.1.3</string>
		<key>iBooks</key>
		<string>Latest</string>
	</dict>
	<key>oidCounter</key>
	<integer>6</integer>
	<key>resources</key>
	<array/>
	<key>sceneSize</key>
	<string>{768, 600}</string>
	<key>scenes</key>
	<array>
		<dict>
			<key>animationController</key>
			<dict>
				<key>expandedItems</key>
				<array/>
				<key>timeCursors</key>
				<dict>
					<key>4</key>
					<real>0.0</real>
					<key>kTimelineDefaultIdentifier</key>
					<real>0.0</real>
				</dict>
				<key>timescale</key>
				<integer>60</integer>
			</dict>
			<key>canvasSize</key>
			<string>{2247, 675}</string>
			<key>context</key>
			<dict>
				<key>currentTimelineIdentifier</key>
				<string>kTimelineDefaultIdentifier</string>
				<key>elements</key>
				<dict>
					<key>2</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>516px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleRight</string>
							<key>objectValue</key>
							<string>None</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>iframe</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleBottom</string>
							<key>objectValue</key>
							<string>None</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>-9px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleLeft</string>
							<key>objectValue</key>
							<string>None</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>507px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>IFrameType</string>
							<key>objectValue</key>
							<string>0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>IFrameHTML</string>
							<key>objectValue</key>
							<string>&lt;iframe width="760px" height="500px" src="http://www.smartsitehq.com/YPO/calendar" 
style="border:0px" scrolling="no"&gt;&lt;/iframe&gt;</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>778px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleTop</string>
							<key>objectValue</key>
							<string>None</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>794px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>2</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>HTML Widget</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>IFrameURL</string>
							<key>objectValue</key>
							<string></string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>794px</string>
						</dict>
					</array>
					<key>3</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>BorderStyleRight</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleTop</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthBottom</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ShowButtonEditor</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>WordWrap</string>
							<key>objectValue</key>
							<string>break-word</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundColor</string>
							<key>objectValue</key>
							<string>#F0F0F0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ActionsOnMouseDown</string>
							<key>objectValue</key>
							<array>
								<dict>
									<key>timelineIdentifier</key>
									<string>4</string>
									<key>type</key>
									<integer>3</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthRight</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthTop</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorBottom</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleLeft</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>FontSize</string>
							<key>objectValue</key>
							<string>13px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>Button</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextColor</string>
							<key>objectValue</key>
							<string>#000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>InnerHTML</string>
							<key>objectValue</key>
							<string>Open</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>15px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorTop</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextAlign</string>
							<key>objectValue</key>
							<string>center</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingLeft</string>
							<key>objectValue</key>
							<string>6px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>554px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>3</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>UserSelect</string>
							<key>objectValue</key>
							<string>none</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>WhiteSpaceCollapsing</string>
							<key>objectValue</key>
							<string>preserve</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingTop</string>
							<key>objectValue</key>
							<string>6px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleBottom</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingBottom</string>
							<key>objectValue</key>
							<string>6px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingRight</string>
							<key>objectValue</key>
							<string>6px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorLeft</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>90px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Button</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>344px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorRight</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthLeft</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Cursor</string>
							<key>objectValue</key>
							<string>pointer</string>
						</dict>
					</array>
					<key>6</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>BorderStyleRight</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleTop</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ShowButtonEditor</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>WordWrap</string>
							<key>objectValue</key>
							<string>break-word</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthBottom</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundColor</string>
							<key>objectValue</key>
							<string>#F0F0F0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ActionsOnMouseDown</string>
							<key>objectValue</key>
							<array>
								<dict>
									<key>timelineIdentifier</key>
									<string>4</string>
									<key>type</key>
									<integer>8</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthRight</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthTop</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorBottom</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleLeft</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>FontSize</string>
							<key>objectValue</key>
							<string>13px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>Button</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextColor</string>
							<key>objectValue</key>
							<string>#000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>InnerHTML</string>
							<key>objectValue</key>
							<string>Close</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>15px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorTop</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextAlign</string>
							<key>objectValue</key>
							<string>center</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingLeft</string>
							<key>objectValue</key>
							<string>6px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>555px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>4</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>UserSelect</string>
							<key>objectValue</key>
							<string>none</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>WhiteSpaceCollapsing</string>
							<key>objectValue</key>
							<string>preserve</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingTop</string>
							<key>objectValue</key>
							<string>6px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleBottom</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingBottom</string>
							<key>objectValue</key>
							<string>6px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingRight</string>
							<key>objectValue</key>
							<string>6px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorLeft</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>90px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Button</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>480px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorRight</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthLeft</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Cursor</string>
							<key>objectValue</key>
							<string>pointer</string>
						</dict>
					</array>
				</dict>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#DFE1E0</string>
					<key>perspective</key>
					<real>600</real>
				</dict>
				<key>timelines</key>
				<array>
					<dict>
						<key>animations</key>
						<array/>
						<key>firstKeyframeIsRelative</key>
						<false/>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>kTimelineDefaultIdentifier</string>
						<key>name</key>
						<string>Main Timeline</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
					<dict>
						<key>animations</key>
						<array>
							<dict>
								<key>duration</key>
								<real>0.5</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-7px</string>
								</dict>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>2</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>778px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>016EA548-8312-4F3B-B723-486DFDBB9951-6485-0000937BD16DE6C9</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Actions</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>4</string>
								<key>startTime</key>
								<real>0.5</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Actions</string>
									<key>objectValue</key>
									<array>
										<dict>
											<key>timelineIdentifier</key>
											<string>4</string>
											<key>type</key>
											<integer>7</integer>
										</dict>
									</array>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>2</integer>
								<key>uuid</key>
								<string>47FF7765-8F2F-4C4C-83F4-027E1A330E67-6485-00009398A0234149</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.5</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>770px</string>
								</dict>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>2</string>
								<key>startTime</key>
								<real>0.5</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>-7px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>581330A2-B263-4BC7-87AD-EDC4BDB827F3-6485-0000937EFB3A0085</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>2</string>
								<key>startTime</key>
								<real>1</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>770px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>C138387D-BA1E-4518-A784-80776CF22E0E-6485-000093922ED10241</string>
								<key>zIndex</key>
								<integer>3</integer>
							</dict>
						</array>
						<key>firstKeyframeIsRelative</key>
						<false/>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>4</string>
						<key>name</key>
						<string>widget1</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Untitled Scene</string>
			<key>oid</key>
			<string>1</string>
			<key>scrollViewOffset</key>
			<string>{169, 0}</string>
			<key>selectedObjects</key>
			<array>
				<string>6</string>
			</array>
			<key>showTimelineActions</key>
			<true/>
			<key>splitHeight</key>
			<real>675</real>
		</dict>
	</array>
	<key>scripts</key>
	<array/>
	<key>showLoadingPage</key>
	<false/>
	<key>showRulers</key>
	<false/>
	<key>sourceEditorDocumentationHeight</key>
	<real>230</real>
	<key>useGraphicsAcceleration</key>
	<true/>
	<key>zoomFactor</key>
	<real>1</real>
</dict>
</plist>
